:root {
  height: 100%;
  width: 100%;
}
body {
  height: 100%;
  width: 100%;
}

#app {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#main_container > div {
  height: 100%;
  width: 100%;
  position: relative;
}
